.container{
    text-align: center;
}

.botoes{
    background-color:rgba(15, 132, 130, 0.752) ;
    border-radius:5px ;
    color: white;
    font-weight: 700;
    border-color: rgba(15, 132, 130, 0.752);
}